.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.area {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.area p {
  text-transform: uppercase;
  color: white;
  font-size: 28px;
}
